.priority-button {
  @apply xlg:h-[1.8rem] h-[1.5rem] rounded xlg:rounded-md bg-[#EEEEEE] flex justify-center items-center px-2 xlg:px-4 xl:px-5 text-[#555555] text-[12px] xlg:text-sm  xl:text-[15px] font-medium hover:bg-custom-blue hover:text-white;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.priority-input {
  @apply h-[4rem] px-2 bg-white w-full rounded-md placeholder-[#00000080] text-base text-[#333333] outline-none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
  border-radius: 20px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #252829;
  border-radius: 20px;
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: #edf4f7;
  border-radius: 20px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #1686c3;
  border-radius: 20px;
}

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #919495 #edf4f7;
}
